# Files in the Presentation folder
Presentation/
# Jupyter Notebook backup files
.ipynb_checkpoints/
# Data files
data/
# Except for the metadata folder
!data/metadata/
# Pycharm related folder
utils/__pycache__/
proj/
# .git file
.git/