# Files in the Presentation folder
Presentation/
# Jupyter Notebook backup files
.ipynb_checkpoints/
# Data files
data/*
# Except for the metadata folder
!data/metadata/GeoTIFF_1m_metadata_processed.csv
# Pycharm related folders
utils/__pycache__/
proj/
# .git folder
.git/